<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>解析結果 - レコード出品アシスタント</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>解析結果</h1>
        <div id="progress-container">
            <div class="progress-bar"><div class="progress-bar-inner"></div></div>
            <p id="progress-text">処理中です。しばらくお待ちください…</p>
        </div>
        <div id="results-table-container" style="display: none;">
            <a href="#" id="download-csv-btn" class="btn btn-download" style="display: none;">CSVダウンロード</a>
            <table id="results-table">
                <thead>
                    <tr>
                        <th style="width: 5%;">状態</th>
                        <th style="width: 15%;">画像</th>
                        <th style="width: 30%;">タイトル</th>
                        <th style="width: 45%;">詳細入力</th>
                        <th style="width: 5%;">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div id="image-modal" class="modal">
        <span class="modal-close">&times;</span>
        <img class="modal-content" id="modal-image">
    </div>

    <script>
        const sessionId = "<%= sessionId %>";
        // サーバーから渡されたデフォルトカテゴリーの値をJavaScript変数に格納
        const defaultCategory = "<%= defaultCategory %>";
    </script>
    <script src="/js/main.js"></script>
</body>
</html>
